<div class="columns border-top">

  <div class="column is-2 bg-light">
    <div class="pl3 pr1">
      <%= render 'panel' %>
    </div>
  </div>

  <div class="column is-9 pl6">
    <% @events.each do |event| %>
    <div class="columns border-bottom pt4">
      <div class="column is-1">
        <% if !event.avatar.file.nil? %>
          <%= link_to image_tag(event.avatar_url(:thumb), alt: event.organiser, width: 100, height: 100), event.organiser_url %>
        <% end %>
      </div>
      <div class="column is-8">
        <h3 class="title is-4 index-title"><%= link_to event.title, event %></h3>
          <ul>
            <li><%= link_to event.organiser, event.organiser_url %></li>
          </ul>
        <div class="pv2 f6">
          <%= sanitize(event.description.truncate(200, separator: '</p>')) %>
        </div>

        <% if current_user.try(:admin) || event_author(event) %>
          <ul class="pv3">
            <li class="inline-block f6">Admin controls: </li>
            <li class="inline-block">
              <%= link_to 'View', event, class: 'button is-small is-link is-outlined' %></li>
            <li class="inline-block">
              <%= link_to 'Edit', edit_event_path(event), class: 'button is-small is-link is-outlined' %></li>
            <li class="inline-block">
              <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
          </ul>
        <% end %>

        </div>
        <div class="column has-text-right">
          <%= event_type(event.event_type) %>
          <p class="pt2 f6"><%= event.location %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
